@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "VT323", sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./images/bg.png) center;
  background-size: cover;
  height: 100vh;
}

main {
  width: 375px;
  height: 667px;
  background: url(./images/convite-vazio2.png) center no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.header {
  height: 270px;
}

.top {
  position: relative;
  top: 0px;
  left: 0px;
  text-align: center;
  margin: 0.3rem 0;
}

.top .tnt-left {
  position: absolute;
  top: 40px;
  left: 70px;
}

.top .tnt-right {
  position: absolute;
  top: 40px;
  right: 70px;
}

.top div img {
  width: 40px;
}

.top h1 {
  /* color: rgb(252,226,36); */
  color: #fa3;
  font-size: 4.5rem;
  font-weight: bold;
}

.top h2 {
  color: #fa3;
  font-size: 2.5rem;
  font-weight: bold;
}

.top p {
  color: #ffa;
  font-size: 1.3rem;
}

.middle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

.middle .left,
.right {
  text-align: center;
  font-size: 1.4rem;
  color: rgb(53, 155, 39);
}

.middle .left {
  margin-left: 45px;
}

.middle .right {
  margin-right: 35px;
}

.bottom {
  margin-top: 1.5rem;
  text-align: center;
  color: #ffa;
  font-size: 1.3rem;
}

.tntImage {
  width: 40px;
}
