@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "VT323", sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./images/bg.png) center;
  background-size: cover;
}

main {
  width: 375px;
  height: 667px;
  background: url(./images/convite-vazio.png) center no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.header {
  height: 270px;
}

.top {
  text-align: center;
  margin-bottom: 1.2rem;
}

.top h1, h2 {
  color: rgb(252,226,36);
  font-size: 4.5rem;
  font-weight: bold;
}

.top h2 {
  font-size: 2.5rem;
}

.top p {
  color: #ffa;
  font-size: 1.3rem;
}

.middle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.middle .left, .right {
  text-align: center;
  font-size: 1.4rem;
  color: rgb(53,155,39);
}

.middle .left {
  margin-left: 30px;
}

.middle .right {
  margin-right: 20px;
}

.bottom {
  margin-top: 18px;
  text-align: center;
  color: #ffa;
  font-size: 1.3rem;
}

/* Responsividade */

@media (min-height: 668px) {
  body{
    height: 100vh;
  }
}